#Node/React
node_modules/
dist/
build/
.npm
.env.local
.env.development.local
.env.test.local
.env.production.local

#Java
target/
*.class
*.jar
*.war
*.ear
*.log
.mvn/wrapper/maven-wrapper.jar
!mvnw
!mvnw.cmd

#Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
venv/
venv-*/

#Machine learning and data
*.csv
*.dat
*.out
*.pkl
*.model
*.joblib

#IDEs and SO
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

